<p>
  <%= this_year %>
  Valeria Ropat
  <%= github_url('leri-berry', 'test_guru')%> <br>
</p>
<p>
  <%= link_to 'Учебный проект в онлайн-школе Thinknetica', 'https://thinknetica.com/', target: '_blank' %>
</p>
<p>
<%= link_to 'Leave feedback', new_feedback_path %>
</p>