<h2>Tests:</h2>

<table>
  <tr>
    <th align="left">Title</th>
    <th align="left">Level</th>
    <th align="left">Questions</th>
    <th align="left">Actions</th>
  </tr>

  <%= render @tests %>

</table>